<extend name="Common:base"/>
<block name="style">
    <link href="{$Think.config.WEB_RES_ROOT}css/jqPaginator.css" rel="stylesheet" type="text/css"/>
</block>
<block name="content">

    <div class="row">
        <div class="col-xs-3 text-right">
            <span>项目名称</span>
        </div>
        <div class="col-sm-6">
            <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Large input">
        </div>
    </div>


</block>
<block name="script">
    <script type="text/javascript">
        $(function () {

        });

    </script>
</block>